- body_classes << 'reversed'
- content_for 'page_css' do
  :sass
    h2.setting-name
      color: #C00
      font-size: 200%
      font-family: Georgia,Palatino,"Times New Roman",Times,serif
      font-weight: normal
      margin: 25px 0 0
    
    div.description
      margin: 5px 20px
      color: #444
      
      p
        margin: 0 0 10px

%h1= @setting.key

- form_for :setting, :url => admin_setting_path(@setting), :html => { :method => :put } do |f|
  .form-area
    %p.title
      %label
        Setting Value
        - if @setting.protected?
          = f.password_field :value, :class => 'textbox'
        - else
          = f.text_field :value, :class => 'textbox'
    .description= textilize @setting.description
    
    %p.buttons
      = save_model_button(@setting)
      = save_model_and_continue_editing_button(@setting)
      or
      = link_to 'Cancel', admin_settings_url
      
%p.buttons
  - if admin?
    This system relies on some of these settings to work properly. Deleting settings may cause unexpected errors. 
    = link_to "I understand. Delete this setting entirely.", admin_setting_path(@setting), :method => :delete if admin?